@model IEnumerable<Product>;

<h2>Product List</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    
    @foreach(Product product in Model)
    {
    <tr>
            <td>
                <a asp-controller="Products" asp-action="Details"
                   asp-route-id="@product.Id">@product.Name</a>
            </td>
        <td>$@product.Price</td>

    </tr>
    }

    <p>
        @Html.ActionLink("Add a product","AddProduct","Products")
    </p>


</table>
